
<!-- Header -->
<header>
<div class="bg-overlay pattern"></div>
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag("profile.png") %>
                <div class="intro-text">
                    <span class="name">Hello, I'm Deri</span>
                    <div class="horizontal-line"></div>
                    <span class="skills">Just started learning to code in iOS - Ruby on Rails - Android</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Workshop</h2>
                <div class="horizontal-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("portfolio/mpl.png", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("portfolio/mdtaufan.jpg", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
<div class="bg-overlay pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <div class="horizontal-line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p>This website is dedicated to my journey of learning to code for iOS, Ruby on Rails and Android.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <%= render 'contact_me' %>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h3>Location</h3>
                    <p>Nijmegen, The Netherlands <br>Banda Aceh, Indonesia</p>
                </div>
                <div class="footer-col col-md-6">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/deritaufan" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://id.linkedin.com/in/deritaufan" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; MDTaufan.com 2016
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Mobile Phone Locator</h2>
                        <div class="horizontal-line"></div>
                        <%= image_tag("portfolio/mpl.png", class: "img-responsive img-centered") %>
                        <p>Be ready to amaze your friends with this great app. Simply enter the phone number of your friends who sit next to you and the app will start 'locating' their phones.</p>
                        <ul class="list-inline item-details">
                            <li>Platform:
                                <strong>iOS
                                </strong>
                            </li>
                            <li>Code Used:
                                <strong>Swift
                                </strong>
                            </li>
                        </ul>
                        <%= link_to("https://itunes.apple.com/id/app/mobile-phone-locator/id1071726132?mt=8") do %>
                            <%= image_tag("download_appstore.png", class: "img-responsive img-centered") %>
                        <% end %>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>MDTaufan.com</h2>
                        <div class="horizontal-line"></div>
                        <%= image_tag("portfolio/mdtaufan-modal.jpg", class: "img-responsive img-centered") %>
                        <p>MDTaufan.com is my personal website to showcase my journey on learning to code.</p>
                        <ul class="list-inline item-details">
                            <li>Platform:
                                <strong>Web App
                                </strong>
                            </li>
                            <li>Code Used:
                                <strong>Ruby on Rails
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>